<div class="header-navigation">
  <button
    [class.selected]="path === NavigationPath.home"
    (click)="onchanged(NavigationPath.home)"
  >
    <div>首页</div>
  </button>
  <button
    [class.selected]="path === NavigationPath.realtime"
    (click)="onchanged(NavigationPath.realtime)"
  >
    <div>实时统计</div>
  </button>
  <button
    [class.selected]="path === NavigationPath.passenger"
    (click)="onchanged(NavigationPath.passenger)"
    *ngIf="store.passenger"
  >
    <div>客流统计</div>
  </button>
  <button
    [class.selected]="path === NavigationPath.video"
    (click)="onchanged(NavigationPath.video)"
  >
    <div>视频监控</div>
  </button>
  <button
    [class.selected]="path === NavigationPath.record"
    (click)="onchanged(NavigationPath.record)"
  >
    <div>AI分析记录</div>
  </button>
  <button
    [class.selected]="path === NavigationPath.people"
    (click)="onchanged(NavigationPath.people)"
    *ngIf="store.people"
  >
    <div>人员信息</div>
  </button>
</div>
