<div class="header-navigation">
  <button
    [class.selected]="path === NavigationPath.realtime"
    (click)="onchanged(NavigationPath.realtime)"
  >
    <div>首页</div>
  </button>
  <button
    [class.selected]="path === NavigationPath.passenger"
    (click)="onchanged(NavigationPath.passenger)"
  >
    <div>客流统计</div>
  </button>
  <button
    [class.selected]="path === NavigationPath.video"
    (click)="onchanged(NavigationPath.video)"
  >
    <div>视频监控</div>
  </button>
  <button
    class="long"
    [class.selected]="path === NavigationPath.record"
    (click)="onchanged(NavigationPath.record)"
  >
    <div>AI分析记录</div>
  </button>
  <button
    class="long"
    [class.selected]="path === NavigationPath.employee_track"
    (click)="onchanged(NavigationPath.employee_track)"
  >
    <div>员工轨迹</div>
  </button>
</div>
