<div class="settings">
  <howell-card>
    <div class="settings-title title">
      <div
        (click)="on.path(Node.camera_position)"
        [class.selected]="path === Path.camera_position"
      >
        相机配置
      </div>
      <div
        (click)="on.path(Node.camera)"
        [class.selected]="path === Path.camera"
      >
        摄像机配置
      </div>
      <div
        (click)="on.path(Node.camera_zone)"
        [class.selected]="path === Path.camera_zone"
      >
        区域配置
      </div>
      <div
        (click)="on.path(Node.service_sync)"
        [class.selected]="path === Path.service_sync"
      >
        服务配置
      </div>
      <div
        (click)="on.path(Node.employees_manager)"
        [class.selected]="path === Path.employees_manager"
      >
        员工管理
      </div>
      <div
        (click)="on.path(Node.subtitle)"
        [class.selected]="path === Path.subtitle"
      >
        字幕配置
      </div>
    </div>
    <div class="settings-content">
      <!-- <ng-container *ngIf="path === SettingPath.camera_position">
        <howell-camera-position-setting></howell-camera-position-setting>
      </ng-container>
      <ng-container *ngIf="path === SettingPath.camera_zone">
        <howell-settings-camera-zone></howell-settings-camera-zone>
      </ng-container>
      <ng-container *ngIf="path === SettingPath.service_sync">
        <howell-settings-service></howell-settings-service>
      </ng-container>
      <ng-container *ngIf="path === SettingPath.employees_manager">
        <howell-employees-manager-index></howell-employees-manager-index>
      </ng-container>
      <ng-container *ngIf="path === SettingPath.subtitle">
        <howell-settings-subtitle-channel-manager></howell-settings-subtitle-channel-manager>
      </ng-container>
      <ng-container *ngIf="path === SettingPath.camera">
        <howell-setting-camera-manager></howell-setting-camera-manager>
      </ng-container> -->
      <router-outlet></router-outlet>
    </div>
  </howell-card>
</div>
