<div class="image-video-mult-control">
  <ng-container *ngFor="let item of models">
    <div
      class="item"
      [ngStyle]="{ width: 100 / sqrt + '%', height: 100 / sqrt + '%' }"
    >
      <app-image-video-control
        [ngClass]="{
          fulled: item.fulled
        }"
        [model]="item"
        [fulled]="item.fulled"
        (fullscreen)="onfullscreen($event)"
        (onplay)="onplay($event)"
        (onstop)="onstop($event)"
        [operation]="operation"
        [playback]="playback"
      ></app-image-video-control>
    </div>
  </ng-container>
</div>
