<div class="employees-table table">
  <div class="head">
    <table border="0" cellpadding="0" cellspacing="0">
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <thead>
        <tr>
          <td>员工照片</td>
          <td>员工姓名</td>
          <td>证件号</td>
          <td>员工性别</td>
          <td>员工职位</td>
          <td>出生日期</td>
          <td>联系方式</td>
          <td><div class="center">操作</div></td>
        </tr>
      </thead>
    </table>
  </div>
  <div class="body" *ngIf="!!datas">
    <table border="0" cellpadding="0" cellspacing="0">
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <tbody>
        <tr *ngFor="let item of datas">
          <td>
            <div class="picture" (click)="onimage(item)">
              <app-image [url]="item.Picture"></app-image>
            </div>
          </td>
          <td>{{ item.Name }}</td>
          <td>{{ item.IDNumber ?? "无" }}</td>
          <td>{{ item.GenderView }}</td>
          <td>{{ item.JobTitle ?? "无" }}</td>
          <td>{{ item.BirthDateView }}</td>
          <td>{{ item.Contact ?? "无" }}</td>
          <td>
            <div class="operation center">
              <div (click)="ondetails(item)">
                <i class="howell-icon-modification"></i>
              </div>
              <div (click)="onremove(item)">
                <!-- [ngStyle]="{ visibility: item.hasPic ? 'visible' : 'hidden' }" -->
                <i class="howell-icon-delete-bin"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
