.employees-table {
  height: 100%;
  width: 100%;

  .body {
    overflow-y: scroll;
    height: calc(100% - 9.0909090909%);
    width: calc(100% + 4px);


    table {
      width: 100%;
      height: 100%;
      border-collapse: collapse;
      border-spacing: 0px 0px;
      margin: 0;

      tr {
        height: 50px;

        td {


          .picture {
            height: 50px;
            width: 50px;
            padding: 5px;

            cursor: pointer;
          }

        }

        .glyphicon {
          top: 0;
          font-size: 15px;
        }
      }
    }
  }
}
