<div class="video">
  <howell-card>
    <div class="video-title title">
      <div class="left">
        <div
          (click)="onnavigation(Navigation.preview)"
          [class.selected]="navigation === Navigation.preview"
        >
          实时视频
        </div>
        <div
          (click)="onnavigation(Navigation.playback)"
          [class.selected]="navigation === Navigation.playback"
        >
          视频回放
        </div>
        <div
          (click)="onnavigation(Navigation.keyword)"
          [class.selected]="navigation === Navigation.keyword"
        >
          文字搜索
        </div>
      </div>
      <div class="right" *ngIf="navigation != Navigation.keyword">
        <button
          (click)="screenModeChange(ScreenMode.one)"
          [class.selected]="screen.mode === ScreenMode.one"
        >
          <i class="icon-sign-blank"></i>
        </button>
        <button
          (click)="screenModeChange(ScreenMode.four)"
          [class.selected]="screen.mode === ScreenMode.four"
        >
          <i class="icon-th-large"></i>
        </button>

        <button (click)="fullScreen()">
          <i class="icon-resize-full"></i>
        </button>
      </div>
    </div>
    <div
      class="video-content"
      [ngClass]="{
        subtitle: navigation === Navigation.keyword
      }"
    >
      <ng-container
        *ngIf="
          navigation === Navigation.preview ||
          navigation === Navigation.playback
        "
      >
        <div class="left" *ngIf="navigation === Navigation.preview">
          <howell-video-setting-preview
            *ngIf="hallId"
            [hallId]="hallId"
            [(camera)]="selected"
            (play)="onplay($event)"
          >
          </howell-video-setting-preview>
        </div>

        <div class="left" *ngIf="navigation === Navigation.playback">
          <howell-video-setting-playback
            *ngIf="hallId"
            [hallId]="hallId"
            [(camera)]="selected"
            (play)="onplay($event)"
          >
          </howell-video-setting-playback>
        </div>

        <div class="right howell-video-player-list">
          <howell-video-player-list
            [mode]="screen.mode"
            [play]="play"
            [(index)]="screen.index"
          ></howell-video-player-list>
        </div>
      </ng-container>
      <ng-container *ngIf="navigation === Navigation.keyword">
        <howell-video-keywords
          (playback)="onplaywindow($event)"
          [screen]="screen"
        ></howell-video-keywords>
      </ng-container>
    </div>
  </howell-card>
</div>
