<div class="realtime-device-list-table table">
  <div class="head">
    <table border="0" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <td [width]="width[0]">名称</td>
          <td [width]="width[1]">楼层</td>
          <td [width]="width[2]">区域</td>
          <td [width]="width[3]">报警类型</td>
          <td [width]="width[4]">报警时间</td>
          <td [width]="width[5]">操作</td>
        </tr>
      </thead>
    </table>
  </div>
  <div class="body" *ngIf="!!datas">
    <table border="0" cellpadding="0" cellspacing="0">
      <tbody>
        <tr *ngFor="let item of datas">
          <td [width]="width[0]">{{ item.name }}</td>
          <td [width]="width[1]">{{ item.floor }}</td>
          <td [width]="width[2]">{{ item.zone }}</td>
          <td [width]="width[3]">{{ item.type }}</td>
          <td [width]="width[4]">{{ item.datetime }}</td>
          <td [width]="width[5]">
            <div class="operation">
              <div class="picture" (click)="onPicture(item)">
                <i class="howell-icon-picture"></i>
              </div>
              <div class="playback" (click)="onPlayback(item)">
                <i class="howell-icon-video"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="footer" *ngIf="page">
    <div class="footer-item">
      <div class="footer-info">
        <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
        <div class="info-item">总数量: {{ page && page.TotalRecordCount }}</div>
      </div>
    </div>
    <div class="footer-item">
      <app-paginator
        [length]="page ? page.TotalRecordCount : 0"
        [pageSize]="page ? page.PageSize : 0"
        [pagerCount]="5"
        [pageIndex]="page.PageIndex - 1"
        [showFirstLastButtons]="true"
        (page)="pageEvent($event)"
      >
      </app-paginator>
    </div>
  </div>
</div>
