<div class="video-keywords">
  <div class="panel video-keywords-filter">
    <div class="filter">
      <div class="filter-item">
        <div class="filter-item-title">
          <div>选</div>
          <div>择</div>
          <div>日</div>
          <div>期：</div>
        </div>
        <div class="filter-item-value">
          <input
            type="text"
            DateTimePicker
            [format]="'yyyy-MM-dd'"
            [startView]="DateTimePickerView.month"
            [minView]="DateTimePickerView.month"
            [(date)]="date"
            class="date-select"
          />
        </div>
      </div>
      <div class="filter-item">
        <div class="filter-item-title">
          <div>选</div>
          <div>择</div>
          <div>时</div>
          <div>间：</div>
        </div>
        <div class="filter-item-value time">
          <app-time-control
            [time]="begin"
            (timeChange)="onbegin($event)"
            [end]="end"
          ></app-time-control>
          <span> - </span>

          <app-time-control
            [time]="end"
            (timeChange)="onend($event)"
            [begin]="begin"
          ></app-time-control>
        </div>
      </div>
      <div class="filter-item">
        <div class="filter-item-title">
          <div>摄</div>
          <div>像</div>
          <div>机：</div>
        </div>
        <div class="filter-item-value">
          <common-label-select
            [autoclose]="true"
            [selectedNodes]="selection.label_selecteds"
          >
            <howell-video-source-select-table
              #tree
              (selectedsChange)="selection.onselect($event)"
            ></howell-video-source-select-table>
          </common-label-select>
        </div>
      </div>

      <div class="filter-item">
        <div class="filter-item-title">
          <div>关</div>
          <div>键</div>
          <div>字：</div>
        </div>
        <div class="filter-item-value">
          <input
            type="text"
            [(ngModel)]="options.key"
            [placeholder]="'请输入关键字...'"
          />
        </div>
      </div>
      <div class="filter-item search">
        <button class="full" (click)="onsearch()">
          <i class="howell-icon-search2"></i> 查询
        </button>
      </div>
    </div>
    <div class="video-keywords-filter-list">
      <howell-video-keyword-table
        [load]="load"
        [selected]="selected"
        (selectedChange)="onselect($event)"
        (loaded)="onloaded($event)"
      ></howell-video-keyword-table>
    </div>
  </div>
  <div class="panel video-keywords-video">
    <howell-video-player-list
      [mode]="video.screen.mode"
      [play]="video.toplay"
      [seek]="video.toseek"
      [subtitling]="subtitling"
      [(index)]="video.screen.index"
      (playing)="video.playing($event)"
      (stoping)="video.stoping($event)"
    ></howell-video-player-list>
  </div>
</div>
