<div class="app-account-operation">
  <div class="operation-item" [matMenuTriggerFor]="menu">
    <div class="log-out">
      <i class="howell-icon-account"></i>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="display.username">
        <i class="howell-icon-account pmx"></i>
        {{ username }}
      </button>
      <button
        mat-menu-item
        (click)="logoutHandler()"
        style="margin: 0"
        *ngIf="display.logout"
      >
        <i class="howell-icon-logout"> </i>
        退出登录
      </button>
    </mat-menu>
  </div>
  <div class="operation-item" *ngIf="false" (click)="navigateToHelp()">
    <i class="mdi mdi-help-circle"></i>
    <!-- <mat-icon> help </mat-icon> -->
  </div>
</div>
