<div class="realtime-record-list">
  <div class="realtime-record-list-title title" *ngIf="title">报警记录</div>
  <div class="realtime-record-list-filter">
    <button [class.selected]="type === undefined" (click)="eventFilter()">
      全部报警
    </button>
    <button
      [class.selected]="type === EventType.Offline"
      (click)="eventFilter(EventType.Offline)"
    >
      设备故障
    </button>
    <button
      [class.selected]="type === EventType.Business"
      (click)="eventFilter(EventType.Business)"
    >
      行为监测
    </button>
  </div>
  <div class="realtime-record-list-table">
    <howell-realtime-record-table
      [types]="types"
      [load]="load"
      [insert]="insert"
      (loaded)="onLoaded($event)"
      (picture)="onPicture($event)"
      (playback)="onPlayback($event)"
      (trigger)="onTrigger($event)"
    ></howell-realtime-record-table>
  </div>
</div>
