<div class="camera-position-setting">
  <div class="camera-position-setting-cameras">
    <div class="camera-position-setting-cameras-binded">
      <howell-floor-camera-tree
        (selectTreeNode)="selectTreeNode($event)"
      ></howell-floor-camera-tree>
    </div>
    <div class="camera-position-setting-cameras-unbind">
      <howell-video-source-list></howell-video-source-list>
    </div>
  </div>
  <div class="camera-position-setting-map">
    <div class="camera-position-setting-map-head"></div>
    <div class="camera-position-setting-map-content">
      <howell-settings-map></howell-settings-map>
    </div>
  </div>
</div>
