<div class="settings">
  <howell-card>
    <div class="settings-title title">
      <div
        (click)="changePath(SettingPath.camera_position)"
        [class.selected]="path === SettingPath.camera_position"
      >
        相机配置
      </div>
      <div
        (click)="changePath(SettingPath.camera_zone)"
        [class.selected]="path === SettingPath.camera_zone"
      >
        区域配置
      </div>
      <div
        (click)="changePath(SettingPath.service_sync)"
        [class.selected]="path === SettingPath.service_sync"
      >
        服务配置
      </div>
      <div
        (click)="changePath(SettingPath.employees_manager)"
        [class.selected]="path === SettingPath.employees_manager"
      >
        员工管理
      </div>
    </div>
    <div class="settings-content">
      <ng-container *ngIf="path === SettingPath.camera_position">
        <howell-camera-position-setting></howell-camera-position-setting>
      </ng-container>
      <ng-container *ngIf="path === SettingPath.camera_zone">
        <howell-settings-camera-zone></howell-settings-camera-zone>
      </ng-container>
      <ng-container *ngIf="path === SettingPath.service_sync">
        <howell-settings-service></howell-settings-service>
      </ng-container>
      <ng-container *ngIf="path === SettingPath.employees_manager">
        <howell-employees-manager-index></howell-employees-manager-index>
      </ng-container>
    </div>
  </howell-card>
</div>
