<div class="eletricity-service-net">
  <div
    class="eletricity-service-net-header"
    [ngClass]="{
      hidden: !head.show
    }"
  >
    <howell-header
      [path]="path"
      [title]="title"
      [date]="date"
      (navigate)="onnavigate($event)"
      [(visibility)]="head.show"
    ></howell-header>
  </div>

  <!-- <div class="eletricity-service-net-head-operation">
    <div
      class="eletricity-service-net-head-operation-control"
      (click)="onheaddisplay()"
    >
      <i class="mdi mdi-chevron-up"></i>
    </div>
  </div> -->

  <div
    class="eletricity-service-net-body"
    [ngClass]="{
      full: !head.show
    }"
  >
    <router-outlet></router-outlet>
  </div>
</div>
