<div class="eletricity-service-net">
  <div class="eletricity-service-net-header">
    <howell-header
      [path]="path"
      [title]="title"
      [weather]="current ? current.Weather : undefined"
      [low]="current ? current.LowTemp : undefined"
      [high]="current ? current.HighTemp : undefined"
      (navigate)="onnavigate($event)"
    ></howell-header>
  </div>
  <div class="eletricity-service-net-body">
    <ng-container *ngIf="path === NavigationPath.realtime">
      <howell-realtime
        (preview)="trigger.realtime.preview($event)"
        (playback)="trigger.realtime.playback($event)"
      ></howell-realtime>
    </ng-container>
    <ng-container *ngIf="path === NavigationPath.passenger">
      <howell-passenger></howell-passenger>
    </ng-container>
    <ng-container *ngIf="path === NavigationPath.record">
      <howell-record
        (picture)="trigger.record.picture($event)"
        (playback)="trigger.record.playback($event)"
      ></howell-record>
    </ng-container>
    <ng-container *ngIf="path === NavigationPath.video">
      <howell-video></howell-video>
    </ng-container>
    <ng-container *ngIf="path === NavigationPath.setting">
      <howell-settings></howell-settings>
    </ng-container>
  </div>
</div>

<howell-video-player-window
  *ngIf="window.video.show"
  [model]="window.video"
  [style]="window.video.style"
  [autoplay]="window.video.autoplay"
  [cameraId]="window.video.cameraId"
  [title]="window.video.title"
  [mode]="window.video.mode"
  [time]="window.video.time"
></howell-video-player-window>
<app-window
  *ngIf="window.picture.show"
  [model]="window.picture"
  [style]="window.picture.style"
  [title]="window.picture.title"
>
  <div
    style="
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
    "
    [ngStyle]="{
      backgroundImage: 'url(' + window.picture.url + ')',
      opacity: window.picture.isError ? 0.3 : 1,
      backgroundSize: window.picture.isError ? 'auto' : '100% 100%'
    }"
  ></div>
</app-window>
