<div class="video-playback-config">
  <div class="video-playback-config-datetime">
    <div class="video-playback-config-datetime-date">
      <div class="video-playback-config-datetime-title">选择日期：</div>

      <input
        type="text"
        DateTimePicker
        [format]="'yyyy-MM-dd'"
        [startView]="DateTimePickerView.month"
        [minView]="DateTimePickerView.month"
        [date]="date"
        (change)="changeDate($event)"
        class=""
      />
    </div>
    <div class="video-playback-config-datetime-date">
      <div class="video-playback-config-datetime-title">开始时间：</div>

      <app-time-control [time]="begin"></app-time-control>
    </div>
    <div class="video-playback-config-datetime-date">
      <div class="video-playback-config-datetime-title">结束时间：</div>

      <app-time-control [time]="end"></app-time-control>
    </div>
    <div class="operation">
      <button (click)="onPlaybackClicked()" class="full">开始回放</button>
    </div>
  </div>
</div>

<!-- <div class="video-playback-config">
  <div class="video-playback-config-datetime">
    <div class="video-playback-config-datetime-date">
      <div class="video-playback-config-datetime-title">日期：</div>

      <input
        type="text"
        DateTimePicker
        [format]="'yyyy-MM-dd'"
        [startView]="DateTimePickerView.month"
        [minView]="DateTimePickerView.month"
        [date]="date"
        (change)="changeDate($event)"
        class=""
      />
    </div>
    <div class="video-playback-config-datetime-time">
      <div class="video-playback-config-datetime-title">时间：</div>

      <app-time-control [time]="begin"></app-time-control>

      <div class="_">-</div>
      <app-time-control [time]="end"></app-time-control>
    </div>
  </div>
  <div class="video-playback-config-table">
    <howell-default-table
      [datas]="times"
      (select)="ontimeselect($event)"
    ></howell-default-table>
  </div>
</div> -->
