<div class="settings-subtitle-channel-table table">
  <div class="head">
    <table border="0" cellpadding="0" cellspacing="0">
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <thead>
        <tr>
          <td>通道名称</td>
          <td>IP地址</td>
          <td>端口号</td>
          <td>通道号</td>
          <td>协议类型</td>
          <td>音频格式</td>

          <td>字幕服务器</td>
          <td class="center">启用</td>
          <td class="center">操作</td>
        </tr>
      </thead>
    </table>
  </div>
  <div class="body" *ngIf="!!datas" #body>
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      [ngStyle]="{
        height: page && page.RecordCount === options.pageSize ? '100%' : 'auto'
      }"
    >
      <colgroup>
        <col [ngStyle]="{ width: width }" *ngFor="let width of widths" />
      </colgroup>
      <tbody>
        <tr
          *ngFor="let item of datas"
          [ngStyle]="{
            height:
              page && page.RecordCount === options.pageSize && body_height
                ? 'unset'
                : body_height! / options.pageSize + 'px'
          }"
        >
          <td>{{ item.Name }}</td>
          <td>{{ item.IPAddress }}</td>
          <td>{{ item.Port }}</td>

          <td>{{ item.ChannelNo }}</td>
          <td>{{ item.ProtocolType }}</td>
          <td>{{ item.AudioFormat }}</td>

          <td>{{ (item.Server | async)?.Name }}</td>
          <td>
            <div class="operation">
              <div (click)="onenablechange($event, item)">
                {{ item.Enabled ? "是" : "否" }}
              </div>
            </div>
          </td>
          <td>
            <div class="operation">
              <div
                class="sheet"
                (click)="onschedule($event, item)"
                title="工作表"
              >
                <i class="mdi mdi-calendar-clock"></i>
              </div>
              <div class="delete" (click)="onremove($event, item)" title="删除">
                <i class="howell-icon-delete-bin"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="footer" *ngIf="page">
    <div class="footer-item">
      <div class="footer-info">
        <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
        <div class="info-item">总数量: {{ page && page.TotalRecordCount }}</div>
      </div>
    </div>
    <div class="footer-item">
      <app-paginator
        [length]="page ? page.TotalRecordCount : 0"
        [pageSize]="page ? page.PageSize : 0"
        [pagerCount]="5"
        [pageIndex]="page.PageIndex - 1"
        [showFirstLastButtons]="true"
        (page)="pageEvent($event)"
      >
      </app-paginator>
    </div>
  </div>
</div>
