<div class="header-navigation">
  <button
    [class.selected]="path === NavigationPath.realtime"
    (click)="onchanged(NavigationPath.realtime)"
  >
    <div>实时监控</div>
  </button>
  <button
    [class.selected]="path === NavigationPath.passenger"
    (click)="onchanged(NavigationPath.passenger)"
  >
    <div>客流统计</div>
  </button>
  <button
    [class.selected]="path === NavigationPath.record"
    (click)="onchanged(NavigationPath.record)"
  >
    <div>历史记录</div>
  </button>
  <button
    [class.selected]="path === NavigationPath.video"
    (click)="onchanged(NavigationPath.video)"
  >
    <div>视频监控</div>
  </button>
</div>
