<div class="realtime-device-list-table table">
  <div class="head">
    <table border="0" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <td [width]="width[0]">名称</td>
          <td [width]="width[1]">设备</td>
          <td [width]="width[2]">状态</td>
          <td [width]="width[3]"><span>操作</span></td>
        </tr>
      </thead>
    </table>
  </div>
  <div class="body" *ngIf="!!datas">
    <table border="0" cellpadding="0" cellspacing="0">
      <tbody>
        <tr *ngFor="let item of datas" (click)="onitemclick(item)">
          <td [width]="width[0]" [title]="item.name">{{ item.name }}</td>
          <td [width]="width[1]">{{ Language.CameraUsage(item.usage) }}</td>
          <td [width]="width[2]">{{ Language.DeviceStatus(item.status) }}</td>
          <td [width]="width[3]">
            <div class="operation" [ngClass]="{ center: !canplayback }">
              <div class="preview" (click)="onPreview(item)">
                <i class="howell-icon-video"></i>
              </div>
              <div
                class="playback"
                (click)="onPlayback(item)"
                *ngIf="canplayback"
              >
                <i class="howell-icon-video-playback1"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
