<div class="employee-track-playback-config" *ngIf="!!model">
  <div class="employee-track-playback-config-body form">
    <div class="form-item">
      <div class="form-item-title">提前时长(秒):</div>
      <div class="form-item-value">
        <input
          appTouchSpin
          type="number"
          [(number)]="model.begin"
          (touchSpinChange)="onbeginchange($event)"
        />
      </div>
    </div>
    <div class="form-item">
      <div class="form-item-title">播放时长(秒):</div>
      <div class="form-item-value">
        <input
          appTouchSpin
          type="number"
          [min]="model.begin"
          [(number)]="model.duration"
        />
      </div>
    </div>
  </div>

  <div class="employee-track-playback-config-foot">
    <button class="full" (click)="onok()">确认</button>
    <button (click)="oncancel()">取消</button>
  </div>
</div>
