<div class="passenger">
  <howell-card>
    <div class="passenger-title title">
      <div
        (click)="changePath(PassengerPath.statistic)"
        [class.selected]="path === PassengerPath.statistic"
      >
        客流统计
      </div>
      <div
        (click)="changePath(PassengerPath.zone)"
        [class.selected]="path === PassengerPath.zone"
      >
        区域客流统计
      </div>
      <div
        (click)="changePath(PassengerPath.heatmap)"
        [class.selected]="path === PassengerPath.heatmap"
      >
        客流热力
      </div>
    </div>
    <div class="passenger-content">
      <ng-container *ngIf="path === PassengerPath.statistic">
        <howell-passenger-statistic-manager></howell-passenger-statistic-manager>
      </ng-container>
      <ng-container *ngIf="path === PassengerPath.heatmap">
        <howell-passenger-heatmap></howell-passenger-heatmap>
      </ng-container>

      <ng-container *ngIf="path === PassengerPath.zone">
        <howell-passenger-statistic-manager
          [chart]="ChartType.line"
          [title]="'区域客流统计'"
          [business]="zone"
        ></howell-passenger-statistic-manager>
      </ng-container>
    </div>
  </howell-card>
</div>
