<div class="passenger-heatmap">
  <div class="passenger-heatmap-filter">
    <div class="left">
      <div class="passenger-heatmap-filter-date">
        <div class="passenger-heatmap-filter-title">开始时间：</div>
        <input
          type="text"
          DateTimePicker
          [format]="'yyyy-MM-dd HH:mm'"
          [startView]="DateTimePickerView.month"
          [minView]="DateTimePickerView.hour"
          [(date)]="args.duration.begin"
          class="date-select"
        />
      </div>
      <div class="passenger-heatmap-filter-date">
        <div class="passenger-heatmap-filter-title">结束时间：</div>
        <input
          type="text"
          DateTimePicker
          [format]="'yyyy-MM-dd HH:mm'"
          [startView]="DateTimePickerView.month"
          [minView]="DateTimePickerView.hour"
          [(date)]="args.duration.end"
          class="date-select"
        />
      </div>
      <div>
        <div class="passenger-heatmap-filter-title">选择楼层：</div>
        <div>
          <select
            width="150px"
            name=""
            id=""
            [(ngModel)]="floor"
            (change)="changeFloor()"
          >
            <option *ngFor="let item of floors" [ngValue]="item">
              {{ item.Name }}
            </option>
          </select>
        </div>
      </div>
      <div>
        <button class="full" (click)="onsearch()">
          <i class="howell-icon-search2"></i> 查询
        </button>
      </div>
    </div>
  </div>
  <div class="passenger-heatmap-chart">
    <!-- <howell-realtime-heatmap></howell-realtime-heatmap> -->
    <ng-container *ngIf="url">
      <howell-heatmap-chart [url]="url" [load]="load"></howell-heatmap-chart>
    </ng-container>
  </div>
</div>
