<div class="video-player-list">
  <div
    [ngClass]="{
      four: mode === ScreenMode.four,
      nine: mode === ScreenMode.nine
    }"
    [class.selected]="i === index"
    class="video-player-list-screen"
    *ngFor="let item of datas; let i = index"
    (click)="onscreenclicked(i)"
  >
    <app-video-player
      *ngIf="datas[i] && datas[i].data"
      [index]="i"
      [model]="datas[i].data"
      (onViewerClicked)="onscreenclicked($event)"
      (onStoping)="onstop($event)"
      (onPlaying)="onplaying($event)"
      [seek]="datas[i].seek"
      [subtitle]="datas[i].subtitle"
      [reserve]="datas[i].reserve"
    ></app-video-player>
  </div>
</div>
