<div class="realtime-device-list-table table">
  <div class="body nohead" *ngIf="!!datas">
    <table border="0" cellpadding="0" cellspacing="0">
      <tbody>
        <tr *ngFor="let item of datas">
          <td [width]="width[0]">{{ item.name }}</td>
          <td [width]="width[1]">{{ item.floor }}</td>
          <td [width]="width[2]">
            {{ Language.EventType(item.event) }}
          </td>
          <td [width]="width[3]">{{ item.time }}</td>
          <td [width]="width[4]">
            <div class="operation">
              <div class="playback" (click)="onPlayback(item)">
                <i class="howell-icon-video-playback1"></i>
              </div>
              <div
                *ngIf="item.hasPic"
                class="picture"
                (click)="onPicture(item)"
              >
                <!-- [ngStyle]="{ visibility: item.hasPic ? 'visible' : 'hidden' }" -->
                <i class="howell-icon-picture"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
