<div class="image-video-control" *ngIf="model">
  <div class="image-video-control-image" *ngIf="display.image">
    <app-image-control
      [model]="model.image"
      [draw]="draw"
      [nosignal]="
        model.image ? model.image.status == DeviceStatus.offline : false
      "
    ></app-image-control>
  </div>
  <div class="image-video-control-video" *ngIf="display.video">
    <howell-video-player
      [index]="index"
      [preview]="model.event.preview"
      [playback]="model.event.playback"
      (destroy)="onVideoDestroy()"
      (onStoping)="onstoping()"
      [stop]="model.event.stop"
    >
    </howell-video-player>
  </div>

  <div class="operation">
    <div
      class="howell-icon-play"
      *ngIf="display.operation.play"
      (click)="playClicked($event)"
    ></div>
    <div
      class="mdi"
      *ngIf="display.operation.fullscreen"
      [ngClass]="{
        'mdi-fullscreen': !model.fulled,
        'mdi-fullscreen-exit': model.fulled
      }"
      (click)="fullscreenClicked($event)"
    ></div>
  </div>
</div>
