<div class="realtime-information">
  <div class="realtime-information-item">
    <div class="realtime-information-item-value">{{ passenger.in }}</div>
    <div class="realtime-information-item-title">流入客流</div>
  </div>
  <div class="realtime-information-item">
    <div class="realtime-information-item-value">{{ passenger.out }}</div>
    <div class="realtime-information-item-title">流出客流</div>
  </div>
  <div class="realtime-information-item">
    <div class="realtime-information-item-value">{{ passenger.retention }}</div>
    <div class="realtime-information-item-title">滞留客流</div>
  </div>
  <div class="realtime-information-item">
    <div class="realtime-information-item-value">{{ device }}</div>
    <div class="realtime-information-item-title">异常设备</div>
  </div>
  <div class="realtime-information-item">
    <div class="realtime-information-item-value">{{ record }}</div>
    <div class="realtime-information-item-title">报警记录</div>
  </div>
</div>
