.video-source-table {
  height: 100%;
  width: 100%;

  .body {
    overflow-y: scroll;
    height: calc(100% - 40px - 10px);
    width: calc(100% + 10px);




    td {
      cursor: pointer;

      &:first-child {
        padding-left: 20px;
      }


      .check {
        display: flex;
        align-items: center;
        height: 40px !important;


      }
    }
  }
}
